# Avalanche Fuji RPC URL
PONDER_RPC_URL_43113=https://api.avax-test.network/ext/bc/C/rpc

# CDSPoolFactory address (deployed on Fuji)
CDS_POOL_FACTORY_ADDRESS=0xEc82dd21231dAcbA07f1C4F06B84Cf7bc6b4C24c
